.container {
  background-image: url('./pics/valkone.jpg');
  min-height: 400px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);

}
h1{
  font-family: 'Permanent Marker', cursive;
}
.example-image{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px;
  color: black;
}


a {
  font-family: 'Poppins', sans-serif;
}

.nav-list{
  position: absolute;
 
  width: 99.2%;
  background-color: rgba(212, 212, 212, 0.445);
  box-shadow: 0px 0px 3px;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.nav-item a:link, .nav-item a:visited {
  padding: 0.9vw 10vw;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-decoration: none;

}
.nav-item:before, .nav-item:last-child:after{
  content: " | ";
 
}
.nav-item a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 10px;
}

.nav-item a.active {
  background-color: #4caf50;
  color: rgb(49, 49, 49);
}

.nav-item .icon {
  display: none;
}


.pikkuotsikko {
  position: relative;
  margin: auto;
  
}
#kuva {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 10%;
  font-size: 50px;
  text-align: top;
  
}


#moromoro {

  background-color: rgb(255, 255, 255);

  
}

#Alkuotsikko {
  position: relative;
  top: 18rem;
  margin: auto;
  font-size: 39px;
  color: rgb(0, 0, 0);
  max-width: 100%;
  width: 100%;
  text-align: center;
}
#allergiaskanneri{
  width: 50%;
  position: relative;
  left: 15vw;
}

#box1, #box2{
  display:inline;
  
}
/**/
#box1 {
float: left;
width: 40%;

}
#box2{
width: 50%;
position: absolute;
margin-top: 5vw;
margin-left: 0.5vw;
  
}

#päädiv > #box1, #box2{
  display:inline;
  /*border: solid 1px #000; */
}
#päädiv {
  position: relative;
  margin-top: 3vw;
  display: inline-block;
 /* border: solid 1px #ff0000;*/
  width: 100%;
}



#teksti {
margin: 0;
text-align: left;
}
#testi {
  position: relative;
  border: solid 1px black;
  width: 30%;
  float: top;
  
}


h2 {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  color: black;
  font-size: 29px;
  position: relative;
  text-align: center;
  top: 3vw;
  left: 0vw;
}
#pikkuotsikko{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#ekakuva {
  float: left;
  left: 15vw;
  margin-right: 3vw;
  border: 1px solid;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
  margin-bottom: 3vw;
  margin-top: 3vw;
  text-align: center;
  left: 0vw;
  top: 2vw;
}

.powerpoint{
  position: relative;
  margin-left: 28vw;
}
footer {
  width: 99%;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0vw;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  
}
footer > p {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
@media (max-width: 900px) {
  h2 {
    font-size: 23px;
  }
  p {
    font-size: 17px;
  }
  p > #ekakuva {
    width: 50%;
  }
}
@media (max-width: 680px) {
  h2 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
}
@media (max-height: 680px) {
  h2 {
    font-size: 200px;
  }
  p {
    font-size: 14px;
  }
}

