
h1 {
  position: relative;
  top: 2.5vw;
  padding-bottom: 5vw;
  font-family: 'Permanent Marker', cursive;
}

a {
  font-family: 'Poppins', sans-serif;
}
.nav-list{
  position: absolute;
 
  width: 99.2%;
  background-color: rgba(212, 212, 212, 0.445);
  box-shadow: 0px 0px 3px;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}
.nav-item {
  list-style: none;
}
.nav-item a {
  text-decoration: none;
  color: black;
}

.kuvat {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
#info {
  margin: auto;
  text-align: center;
}

.pikkuotsikko {
  
  margin-left: 4vw;
}


.taitopalikat {
  
  top: 5rem;

  justify-content: space-around;
  display: flex;
  justify-content: center;
}

.taitopalikka {
  width: 200px;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.308) 0px 54px 55px,
    rgba(0, 0, 0, 0.308) 0px -12px 30px, rgba(0, 0, 0, 0.226) 0px 4px 6px,
    rgba(0, 0, 0, 0.205) 0px 12px 13px, rgba(0, 0, 0, 0.199) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
.taitopalikka-1 {
  min-height: 19vw;
  min-width: 21vw;
}
.taitopalikka-2 {
  min-height: 19vw;
  min-width: 21vw;
}
.taitopalikka-3 {
  min-height: 19vw;
  min-width: 21vw;
}

#wordpress {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3vw;
  width: 40%;
}
#ohjelmistot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3vw;
  width: 40%;
}

#kuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#allergiaskanneri {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#angular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5vw;
  width: 45%;
}

#moromoro {
  background-image: linear-gradient(to left, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 60%,rgba(255, 255, 255, 1) 100%), url(./pics/minä.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-position: right top;
  
}

#alkudiv {
  
  width: 50%;
  text-align: left;
  margin-left: 4vw;
}
#socialmedia {
  display: inline;
  width: 3vw;
  margin-left: 0.5vw;
}

.nav-item a:link, .nav-item a:visited {
  padding: 0.9vw 10vw;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-decoration: none;

}
.nav-item:before, .nav-item:last-child:after{
  content: " | ";
 
}
.nav-item a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 10px;
}

.nav-item a.active {
  background-color: #4caf50;
  color: rgb(49, 49, 49);
}

.nav-item .icon {
  display: none;
}

h2 {
  
  color: black;
  font-size: 29px;
  position: relative;
  text-align: left;
  top: 3vw;
  left: 0vw;
  font-family: 'Poppins', sans-serif;
}
#ekakuva {
  float: left;
  left: 15vw;
  margin-right: 3vw;
  border: 1px solid;
}
p {
  font-size: 19px;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  margin-bottom: 3vw;
  margin-top: 3vw;
  text-align: left;
  left: 0vw;
  top: 2vw;
  font-family: 'Poppins', sans-serif;
}
#luettelo {
  font-size: 19px;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  margin-bottom: 3vw;
  margin-top: 3vw;
  text-align: center;
  left: 0vw;
  top: 2vw;
  font-family: 'Poppins', sans-serif;
}

footer {
  width: 100%;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0vw;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  
}
footer > p {
  margin-top: 2vw;
  margin-bottom: 2vw;
 
  text-align: center;
}
@media (max-width: 900px) {
  h2 {
    font-size: 23px;
  }
  p {
    font-size: 17px;
  }
  p > #ekakuva {
    width: 50%;
  }
}

/*
@media screen and (max-width: 1920px) {
  .nav-item a:link, .nav-item a:visited {
    padding: 0.9vw 10vw;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.089)
} */
.taitopalikka {
  left: 30vw;
  width: 250px;
  margin-top: 100px;
  margin-left: 0vw;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}


@media (max-width: 775px) {
  #moromoro {
    padding-top: 950px;
    max-width: 100%;
    background-size: 100%;
  }
  #alkudiv {
    width: 95%;
    margin-left: 3vw;
}
  .nav-list {
    width: 100%;
    position: relative;
  }
  .nav-item a:link, .nav-item a:visited {
    padding: 1vw 10vw;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #socialmedia {
    display: inline;
    width: 10vw;
    margin-left: 3vw;
}
.taitopalikat {
  position: absolute;
  top: 0rem;
  justify-content: space-around;
  display: contents;
  justify-content: center;
  
}
  
}
.taitopalikka {
  left: 30vw;
  width: 250px;
  margin-top: 100px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}


@media (max-width: 600px) {
  #moromoro {
    padding-top: 750px;
    max-width: 100%;
    background-size: 100%;
  }
  #alkudiv {
    width: 100%;
    margin-left: 0vw;
  }
  .nav-list {
    width: 100%;
    position: relative;
  }
  .nav-item a:link, .nav-item a:visited {
    padding: 1vw 10vw;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #socialmedia {
    display: inline;
    width: 10vw;
    margin-left: 3vw;
}
.taitopalikat {
  position: absolute;
  top: 0rem;
  justify-content: space-around;
  display: contents;
  justify-content: center;
  
}
.taitopalikka {
  position: relative;
  
  width: 200px;
  margin-top: 35px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
footer {
  position: relative;
  width: 100;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  
}
}

@media (max-width: 500px) {
  #moromoro {
    padding-top: 600px;
    max-width: 100%;
    background-size: 100%;
  }
  #alkudiv {
    width: 100%;
    margin-left: 0vw;
  }
  .nav-list {
    width: 100%;
    position: relative;
  }
  .nav-item a:link, .nav-item a:visited {
    padding: 1vw 10vw;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #socialmedia {
    display: inline;
    width: 10vw;
    margin-left: 3vw;
}
.taitopalikat {
  position: absolute;
  top: 0rem;
  justify-content: space-around;
  display: contents;
  justify-content: center;
  
}
.taitopalikka {
  position: relative;
 
  width: 200px;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
footer {
  position: relative;
  width: 100;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  
}
}
@media (max-width: 450px) {
  #moromoro {
    padding-top: 550px;
    max-width: 100%;
    background-size: 100%;
  }
  #alkudiv {
    width: 100%;
    margin-left: 0vw;
  }
  .nav-list {
    width: 100%;
    position: relative;
  }
  .nav-item a:link, .nav-item a:visited {
    padding: 1vw 10vw;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #socialmedia {
    display: inline;
    width: 10vw;
    margin-left: 3vw;
}
.taitopalikat {
  position: absolute;
  top: 0rem;
  justify-content: space-around;
  display: contents;
  justify-content: center;
  
}
.taitopalikka {
  position: relative;
  width: 200px;
  margin-top: 25px;
  margin-left: -5vw;
  padding-bottom: 10px;
  box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
footer {
  position: relative;
  width: 100;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  
}
}
@media (max-width: 390px) {
  #moromoro {
    padding-top: 500px;
    max-width: 100%;
    background-size: 100%;
  }
  #alkudiv {
    width: 100%;
    margin-left: 0vw;
  }
  .nav-list {
    width: 100%;
    position: relative;
  }
  .nav-item a:link, .nav-item a:visited {
    padding: 1vw 2vw;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #socialmedia {
    display: inline;
    width: 10vw;
    margin-left: 3vw;
}
.taitopalikat {
  position: absolute;
  top: 0rem;
  justify-content: space-around;
  display: contents;
  justify-content: center;
  
}
.taitopalikka {
    position: relative;
    width: 200px;
    margin-top: 25px;
    margin-left: -10vw;
    padding-bottom: 10px;
    box-shadow: rgb(0 0 0 / 31%) 0px 54px 55px, rgb(0 0 0 / 31%) 0px -12px 30px, rgb(0 0 0 / 23%) 0px 4px 6px, rgb(0 0 0 / 21%) 0px 12px 13px, rgb(0 0 0 / 20%) 0px -3px 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}
footer {
  position: relative;
  width: 100;
  font-size: 19px;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  
}}